body{
    width: auto;
    background-image: url(images/img6.jpg);

}
.content{
    border-top: 5px solid white;
}
.content p{
    text-align: right;
    font-size: 30px;
    color:rgb(22, 33, 22);
    border-bottom: 5px solid white;
}
.content button{
    width: 200px;
    height: 80px;
    margin-bottom: 20px;
    margin-left: 700px;
    border: 5px solid green;
    border-radius: 15px;
    font-size: 20px;
}
.content button a{
    text-decoration: none;
    color: brown;
}